.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 30px;
    height: 11vh;
    border-bottom: 1px solid lightgray;
    position: sticky;
    padding: 20px;
    background-color: rgb(243, 241, 245);
    color: #000;
    z-index: 9999;
  }
.navbar .left {
  margin-left: 30px;
    display: flex;
    padding:"0px 40px";
    margin-left:"40px";
    align-items: center;
    gap: 30px;
  }
.navbar .left span {
    font-weight: bold;
    font-size: 20px;
    color: darkblue;
  }
  .navbar .left img{
    width: 40px;
    height:40px;
  }
.navbar .left .search {
    display: flex;
    align-items: center;
    gap: 10px;
    border: 1px solid lightgray;
    border-radius: 5px;
    padding: 5px;
  }
.navbar .left .search input {
    border: none;
    width: 500px;
    background-color: transparent;
    color: #000;
  }
  @media (max-width: 480px) {
    .navbar .left .search input {
      display: none;
    }
  }
  @media (max-width: 960px) {
    .navbar .left .search input {
      width: 200px;
    }
  }
.navbar .right {
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 0px 20px;
  }
  @media (max-width: 480px) {
    .navbar .right {
      display: none;
    }
  }
.navbar .right .user {
    display: flex;
    align-items: center;
    gap: 10px;
    font-weight: 500;
  }
  @media (max-width: 960px) {
    .navbar .right .user {
      display: none;
    }
  }
.navbar .right .user img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    -o-object-fit: cover;
       object-fit: cover;
  }
  
  